.movies {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px;
    padding-left: 60px;
    margin-top: 0;
    position: relative;
    z-index: 2;
}

.title {
    color: white;
    display: block;
    padding-left: 60px;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}

.error {
    color: white;
    display: block;
    padding-left: 60px;
    margin-bottom: 5px;
}

.movies::-webkit-scrollbar {
    display: none;
}

.movie_row {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}

.movie_row_large {
    width: 100%;
    object-fit: contain;
    max-height: 400px;
    margin-right: 10px;
    transition: transform 450ms;
}

.movie_row:hover {
    transform: scale(1.2);
}

.movie_row_large:hover {
    transform: scale(1.2);
}


@media only screen and (max-width: 919px) {
    .movies {
        padding-left: 30px;
    }
    .movie_row {
        max-height: 100px;
    }
    .movie_row_large {
        max-height: 300px;
    }
    .title {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .movies {
        padding-left: 15px;
    }

    .title {
        padding-left: 15px;
    }
}
