/* #e50914; */

.body {
    font-family: 'Arial', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
    height: 100%;
}

.showcase {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('/images/background.jpg') no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 50px 50px 250px #000;
}

.showcase_top {
    position: relative;
    height: 90px;
    z-index: 2;
}

.logo {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(30%,-50%);
}


.link_top {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}

#signin {
    display: inline-block;
    background: #e50914;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    border-radius: 2px;
}

#signin:hover {
    opacity: 0.9;
}

.content {
    z-index: 2;
    position: relative;
    width: 950px;
    height: 550px;
    max-width: 95%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.start {
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.header {
    color: #fff;
    font-size: 64px;
    width: 85%;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
}

.input {
    height: 70px;
    width: 67%;
    font-size: 16px;
    padding: 0px 5px;
    border: 2px solid gray;
}

.input:focus {
    border-color: orange;
}

.btn_start {
    height: 70px;
    width: 33%;
    font-size: 26px;
    color: #fff;
    background-color: #e50914;
    outline: none;
    cursor: pointer;
    border: none;
}
.btn_start:hover {
    background-color: #F70612;
}

.paragraph {
    color: #fff;
    font-size: 19px;
    margin: 1rem 0;
}

#pmd {
    font-size: 26px;
    margin-top: 0px;
}

.faq {
    width: 40%;
    margin: auto;
    margin-bottom: 90px;
}

.faq_title {
    color: white;
    padding: 60px 0px;
    font-size: 50px;
    max-width: 90%;
    width: 700px;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 945px) {
    .start {
        flex-direction: column;
    }
    .btn_start {
        margin-top: 20px;
    }
    .header {
        font-size: 48px;
    }
    .logo {
        width: 105px;
    }
    .faq {
        width: 90%;
    }
}

@media only screen and (max-width: 1445px) {
    .input {
        height: 60px;
    }
    .btn_start {
        height: 60px;
    }
    .header {
        font-size: 58px;
    }
    .faq {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        justify-content: flex-start;
    }
    .start {
        width: 90%;
    }
    .input {
        width: 100%;
        height: 50px;
    }
    .btn_start {
        width: 145px;
        font-size: 16px;
        height: 45px;
    }
    .header {
        font-size: 28px;
    }
    .faq {
        width: 90%;
    }
    .faq_title {
        font-size: 28px;
    }
    .logo {
        width: 85px;
        transform: translate(20%,-50%);
    }
    .link_top {
        transform: translate(-20%,-50%);
    }
}
