.body {
  font-family: 'Arial', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: rgb(20, 20, 20);
  box-shadow: inset 0px 0px 250px #000;
}

.nav {
    position: relative;
    z-index: 3;
    padding-top: 20px;
}

.main {
    margin-top: 100px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 919px) {
  .main {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding-left: 15px;
    justify-content: center;
  }
}
