.body {
  font-family: 'Arial', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: rgb(20, 20, 20);
  box-shadow: inset 0px 0px 250px #000;
}

.nav {
    position: relative;
    z-index: 3;
    padding-top: 20px;
}

.main {
    margin-top: 100px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.myMovie {
  color: white;
  width: 230px;
  margin-right: 24px;
  margin-top: 24px;
}

.img_movie {
  width: 100%;
  transition: transform 500ms;
}

.img_movie:hover {
  transform: scale(1.2);
}


.buttons {
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_play {
  width: 105px;
  height: 32px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button_remove {
  width: 105px;
  height: 32px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: rgb(59, 59, 59);
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button_remove:hover {
  opacity: 0.7;
}

.button_play:hover {
  opacity: 0.7;
}

.name {
  margin-bottom: 16px;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 919px) {
  .main {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding-left: 15px;
    justify-content: center;
  }
}
