.table {
    width: 100%;
    border-collapse: collapse;
}


.table tr {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.td_cell {
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: gray;
    padding: 20px 0px;
}

.td_cell_active {
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0px;
    color: #e50914;
}

.th_cell {
    width: 40%;
    text-align: left;
    font-size: 16px;
    padding: 20px 0px;
}


#bottom_tr {
    border: none;
}


@media only screen and (max-width: 600px) {
    .th_cell {
        width: 100%;
        display: block;
        text-align: center;
        padding: 5px 0px;
        font-size: 14px;
    }
    .td_cell {
        width: 33.3%;
    }
    .td_cell_active {
        width: 33.3%;
    }
}

